<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="User" type="com.socketchat.bean.User"/>
		<typeAlias alias="ChatMessage" type="com.socketchat.bean.ChatMessage"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/socketchat/bean/User.xml"/>
		<!-- <mapper resource="com/socketchat/bean/ChatMessage.xml"/> -->
	</mappers>
</configuration>